<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olist - Product Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div class="col-8 m-auto pt-2 pb-2 ">
    <h1>Product Register</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 ">
    <a href="/indexProduct/" class="btn btn-dark">REGISTERS</a>
    <a href="/" class="btn btn-info">RETURN MENU</a>

</div>

<div class="col-8 m-auto pt-2 pb-2 ">
    <form name="formProduct" id="formProduct" action="{% if db %}/updateProduct/{{db.id}}/{% else %}/createProduct/{% endif %}" method="post">
        {% csrf_token %}
            <div class="form-group mt-4">Name: {{formProduct.name}}</div>
            <div class="form-group mt-4">Description Reason: {{formProduct.description}}</div>
            <div class="form-group mt-4">Value: {{formProduct.value}}</div>
            <div class="form-group mt-4">Category : {{formProduct.category }}</div>

            <input type="submit" class="btn btn-success" value="SAVE">
    </form>
</div>

</body>
</html>