<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olist - Product Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div class="col-10 m-auto pt-2 pb-2 ">
    <h1>Registers</h1>
</div>

<div class="col-10 m-auto pt-2 pb-2 ">
    <a href="/formProduct/" class="btn btn-success">Register New Product</a>
    <a href="/" class="btn btn-info">RETURN MENU</a>

</div>

<div class="col-10 m-auto pt-2 pb-2 ">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Value</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        {% for dba in db %}
        <tr>
            <th>{{dba.id}}</th>
            <th>{{dba.name}}</th>
            <td>{{dba.description}}</td>
            <td>{{dba.value}}</td>
            <td>{{dba.category}}</td>
            <td>
                <a href="/viewProduct/{{dba.id}}/" class="btn btn-dark">Preview</a>
                <a href="/editProduct/{{dba.id}}/" class="btn btn-primary">Edit</a>
                <a href="/deleteProduct/{{dba.id}}/" class="btn btn-danger">Delete</a>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

</body>
</html>