<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste Olist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div class="col-8 m-auto pt-2 pb-2 ">
    <h1>Menu</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 ">
    <a href="form/" class="btn btn-success">Register New Category</a>
</div>

<div class="col-8 m-auto pt-2 pb-2 ">
    <a href="formSeller/" class="btn btn-success">Register New Seller</a>
</div>

<div class="col-8 m-auto pt-2 pb-2 ">
    <a href="formMarketplace/" class="btn btn-success">Register New Marketplace</a>
</div>

<div class="col-8 m-auto pt-2 pb-2 ">
    <a href="formProduct/" class="btn btn-success">Register New Product</a>
</div>

</body>
</html>